/* ? HEADER STYLE */

.banner_container {
	margin-top: 5rem;
	border-radius: 1.6rem;
	text-align: center;
	background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
		url("../Images/Banner\ Image.png") no-repeat center;
	background-size: cover;
	padding: 17rem 34rem;
}

.banner_container__content {
	margin: 0 auto;
	color: #fff;
	max-width: 63.2rem;
}

.banner_container__content h1 {
	font-size: 7rem;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 1.3;
	text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3);
}

.banner_container__content h2 {
	font-size: 3.1rem;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin-bottom: 1.5rem;
}

/* ? MAIN STYLE */

main section {
	margin: 12rem 0;
}

/* ? OFFER SECTION STYLE */

.offer_container {
	text-align: center;
}

.offer_container__content h1 {
	color: #f00;
	font-family: Inter;
	font-size: 8.5rem;
	font-weight: 700;
	margin-bottom: 4.8rem;
}

.offer_container__content p {
	color: #f00;
	font-size: 2.3rem;
	font-weight: 500;
}

.offer_container__content h2 {
	font-size: 4.6rem;
	font-weight: 700;
	margin: 1.5rem 0 4.8rem;
}

/* ? WELCOME SECTION STYLE */

.welcome_container {
	padding: 6.7rem 12.6rem;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
		url("../Images/Vectorrr.png") no-repeat center;
	background-size: cover;
}

.welcome_container__content {
	max-width: 67rem;
}

.welcome_container__content h1 {
	color: #fff;
	font-size: 6.2rem;
	font-weight: 900;
	letter-spacing: 0.7rem;
}

.welcome_container__content p {
	color: #ffffffcc;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
	margin: 2.4rem 0 4.8rem;
}

.welcome_container__content .btn {
	background-color: rgba(255, 0, 0, 0.484);
	letter-spacing: 1px;
	border-radius: 0.3rem;
}

/* ? ABOUT SECTION STYLE */

.event_container {
	background: linear-gradient(
		180deg,
		rgba(255, 0, 0, 0.1) 0%,
		rgba(255, 0, 0, 0) 100%
	);
	padding: 9.8rem 30rem;
	text-align: center;
}

.event_container_content p {
	font-size: 3.2rem;
	font-weight: 600;
	margin-bottom: 2.5rem;
}

.event_container__detail {
	color: #f00;
}

.event_container .btn {
	margin-top: 4.8rem;
	border-radius: 0.8rem;
}

/* ? UPCOMING OFFER SECTION */

.upcoming-offer_container {
	display: flex;
	gap: 7rem;
	align-items: center;
	justify-content: center;
}

.upcoming-offer_container__content h1 {
	margin: 1rem 0 2rem;
}

.upcoming-offer_container__content h2 {
	font-size: 2.3rem;
	font-weight: 500;
}

.upcoming-offer_container__content p {
	max-width: 39rem;
}

.upcoming-offer_container__display {
	border-radius: 50%;
	border: 1.3rem solid #f00;
	max-width: 46rem;	
	padding: 3rem;
}

.upcoming-offer_container .upcoming-offer_container__content:last-child {
	align-self: flex-end;
}

/* ? PORTFOLIO SECTION STYLE */

.portfolio_container__content h2 {
	font-size: 2.3rem;
	margin-bottom: 1.6rem;
	font-weight: 500;
	color: #f00;
}

.portfolio_container__content h1 {
	font-size: 4.6rem;
	margin-bottom: 2.2rem;
	font-weight: 900;
}

.portfolio_container__content p {
	font-size: 1.9rem;
	line-height: 1.8;
	font-weight: 400;
	max-width: 85rem;
	margin-bottom: 4.8rem;
}

.portfolio_container__displays {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.3rem;
}

.portfolio_container__displays figure {
	overflow: hidden;
	height: 42rem;
	max-height: 45rem;
	border-radius: 1.6rem;
}

.portfolio_container__displays figure img {
	width: 100%;
	transition: all 0.3s;
}

.portfolio_container__displays figure:hover img {
	transform: scale(1.2);
}

/* ? NEWSLETTER SECTION STYLE*/

.newsletter_container {
	border-radius: 1.6rem;
	background: rgba(255, 0, 0, 0.05);
	padding: 7.7rem 20rem;
	text-align: center;
}

.newsletter_container__content h1 {
	font-size: 4.6rem;
	font-weight: 900;
	margin: 3rem 2.2rem;
}

.newsletter_container__content p {
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
	margin-bottom: 4.5rem;
}

.newsletter_container__form {
	display: flex;
	justify-content: center;
	width: 62rem;
	max-width: 65rem;
	margin: 0 auto;
}

.newsletter_container__form input {
	flex: 1;
	border-radius: 5rem 0 0 5rem;
	padding: 2.5rem 3rem;
	font-size: 1.8rem;
	letter-spacing: 0.5px;
	color: rgba(7, 2, 17, 0.144);
	font-weight: 400;
}

.newsletter_container__form button {
	border-radius: 0 5rem 5rem 0;
	padding: 0 5.6rem;
	font-size: 1.9rem;
	text-align: center;
}

/* ? FOOTER */

footer {
	background: #070211;
	color: #fff;
	padding: 12rem 0;
	font-size: 2.3rem;
}

.footer_container__address {
	display: flex;
	padding-bottom: 5rem;
}

.footer_container__address___contact:first-of-type {
	flex: 0.88;
}

.footer_container__address___contact {
	line-height: 1.5;
	font-style: normal;
}

.footer_container__address___contact figure {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.footer_container__address___contact figure img {
	max-width: 2.4rem;
	max-height: 2.4rem;
}

.footer_container__links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;
	border-bottom: 1px solid #ffffff26;
	border-top: 1px solid #ffffff26;
	padding: 4.8rem 0;
}

.footer_container__copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 4rem;
}
